extends ../../layout/default.pug

block main
	h2(class="mb-4") #{pageTitle}
	form(
		action=`${prefixAdmin}/tours/create`
		method="POST"
		id="form-create-tour"
	) 
		div(class="form-group")
			label(for="title") Tiêu đề
			input(
				type="text"
				name="title"
				id="title"
				class="form-control"
				required
			)
		div(class="form-group")
			label(for="category_id") Danh mục
			select(
				name="category_id"
				id="category_id"
				class="form-control"
				required
			)
				option(value="" disabled selected) -- Chọn danh mục --
				each item in categories
					option(value=item.id) #{item.title} 
		
		div(class="form-group")
			label(for="price") Giá
			input(
				type="number"
				name="price"
				id="price"
				value="0"
				min="0"
				class="form-control"
			)
		div(class="form-group")
			label(for="discount") % Giảm giá
			input(
				type="number"
				name="discount"
				id="discount"
				value="0"
				min="0"
				class="form-control"
			)
		div(class="form-group")
			label(for="stock") Số lượng
			input(
				type="number"
				name="stock"
				id="stock"
				value="0"
				min="0"
				class="form-control"
			)
		div(class="form-group")
			label(for="timeStart") Lịch khởi hành
			input(
				type="datetime-local"
				name="timeStart"
				id="timeStart"
				value="0"
				min="0"
				class="form-control"
			)
		div(class="form-group")
			label(for="position") Vị trí
			input(
				type="number"
				name="position"
				id="position"
				class="form-control"
				placeholder = "Tự động tăng"
			)
		div(class="form-group form-check form-check-inline")
			input(
				type="radio"
				class="form-check-input"
				id="statusActive"
				name="status"
				value="active"
				checked
			)
			label(for="statusActive" class="form-check-label") Hoạt động 
		div(class="form-group form-check form-check-inline")
			input(
				type="radio"
				class="form-check-input"
				id="statusInactive"
				name="status"
				value="inactive"
			)
			label(for="statusInactive" class="form-check-label") Dừng hoạt động
		div(class="form-group")
			button(
				type="submit"
				class="btn btn-primary"
			) Tạo mới
